.landing-page .carousel{
    height: 40%;
}
.landing-page .carousel-cell{
    width: 100%; /* full width */
    height: 100%; /* height of carousel */
    max-width: 100%;
    margin-right: 0px;
    display: inline-block;
    position: relative;
    overflow: hidden;

}
.landing-page .carousel-image{
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
}