body {
	margin: 0;
	background-color: #FEFDFE;
	font-family: Times;
}
/*
.site-container {
	float: left;
	width: 100%;
	margin: 0;
}*/


header {
	width: 100%;
	background-color: #FEFDFE;
	position: fixed;
	float: left;
	height: 80px;
	z-index: 999;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.logo {
	height: 100%;
}

.nav-bar {
	float: right;
	list-style-type: none;
	padding: 0 16px 0 0;
}

.nav-bar li {
	float: left;
}

.nav-bar li a {
	display: block;
	font-family: Arial;
	font-weight: bold;
	font-size: 16px;
	color: 	#710400;
	text-transform: uppercase;
	text-align: center;
	padding: 12px
}

.nav-bar li a:hover {
	color: #b30000;
}

.heading {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	color: #710400;

}

.container {
}

#values-heading {
	height: 70px;
	padding: 20px;
}

.heading:before {
	margin: auto 20px 5px auto;
	display: inline-block;
	width: 80px;
	height: 2px;
	background-color: gray;
	content: "";
	padding: 0;
}

.heading:after {
	margin: auto auto 5px 20px;
	display: inline-block;
	width: 80px;
	height: 2px;
	background-color: gray;
	padding-left: 20px;
	content: "";
	padding: 0;
}

.page-container:before {
	height: 80px;
	content: "";
	display: block;
}


.entry-content {
	margin-top: 20px:
	padding: 10px;
	border: solid gray 2px; 
}

p {
	font-size: 24px;
	color: gray;
	display: inline;
}

.section {
	padding: 50px 15% 40px 15%;
	text-align: center;
}

.section::before {
	content: " ";
	height: 30px;
	display: table;
}

.section::after {
	content: " ";
	height: 30px;
	display: table;
}

.italicized-word {
	display: inline;
	font-style: italic;
}

.section-break {
	margin-left: 10%;
	margin-right: 10%;
	border: solid gray 2px; 
	content: " ";
}

.button {
	border: solid;
	border-radius: 5px;
	border-width: 1px;
	border-color: #710400;
	padding: 15px;
	display: inline-block;
	cursor: pointer;
	font-size: 15px;
	text-transform: uppercase;
	margin: 10px;
	color: #710400;
	font-family: Arial;
	font-weight: 600;
}

.button:hover {
	color: white;
	background: #710400;
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}

p {
	width: 100%;
}
