body {
	margin: 0;
	background-color: #FEFDFE;
	font-family: Times;
}
/*
.site-container {
	float: left;
	width: 100%;
	margin: 0;
}*/


header {
	width: 100%;
	background-color: #FEFDFE;
	position: fixed;
	float: left;
	height: 80px;
	z-index: 999;
}

.logo {
	height: 100%;
}

.nav-bar {
	float: right;
	list-style-type: none;
	padding: 0 16px 0 0;
}

.nav-bar li {
	float: left;
}

.nav-bar li a {
	display: block;
	font-family: Arial;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	color: 	#710400;
	text-transform: uppercase;
	text-align: center;
	padding: 12px
}

.nav-bar li a:hover {
	color: #b30000;
}

.heading {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	color: #710400;

}

.container {
}

#values-heading {
	height: 70px;
	padding: 20px;
}

.heading:before {
	margin: auto 20px 5px auto;
	display: inline-block;
	width: 80px;
	height: 2px;
	background-color: gray;
	content: "";
	padding: 0;
}

.heading:after {
	margin: auto auto 5px 20px;
	display: inline-block;
	width: 80px;
	height: 2px;
	background-color: gray;
	padding-left: 20px;
	content: "";
	padding: 0;
}

.page-container {
}

.page-container:before {
	height: 80px;
	content: "";
	display: block;
}


.entry-content {
	margin-top: 20px:
	padding: 10px;
	border: solid gray 2px; 
}



