body {
	margin: 0;
	background-color: gray
}
/*
.site-container {
	float: left;
	width: 100%;
	margin: 0;
}*/


header {
	width: 100%;
	background-color: #FEFDFE;
	position: fixed;
	float: left;
	height: 80px;
}

.logo {
	height: 100%;
}

.nav-bar {
	float: right;
	list-style-type: none;
	padding: 0 16px 0 0;
}

.nav-bar li {
	float: left;
}

.nav-bar li a {
	display: block;
	font-family: Arial;
	font-size: 20px;
	text-decoration: none;
	color: 	#710400;
	text-transform: uppercase;
	text-align: center;
	padding: 12px;
}

.nav-bar li a:hover {
	font-weight: bold;
}

.main-carousel{
	padding-top: 80px;
	max-height: 40%;
	width: 100%;
	overflow:hidden;
}
.carousel-cell{

}
.carousel-image{
	min-width: 100%;
	min-height: 100%;
}